<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Ravitecture</string>
	<key>uuid</key>
	<string>B39B7A55-921F-4B9C-93B7-65B04DD5241D</string>
</dict>
</plist>
